body {
	background-image: url('download.png');
}	
    
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}

.form-group {
    margin-bottom: 15px;
}


label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
.logo {
      display: block;
      max-width: 100%;
      height: auto;
	  image: url('logo.jpg');
}
footer {
      background-color: black;
	  color: white;
      padding: 20px;
      text-align: center;
    }
/* Styles for screens up to 600 pixels wide */
@media (max-width: 600px) {
  /* CSS rules here */
}

/* Styles for screens between 601 and 900 pixels wide */
@media (min-width: 601px) and (max-width: 900px) {
  /* CSS rules here */
}

/* Styles for screens larger than 900 pixels wide */
@media (min-width: 901px) {
  /* CSS rules here */
}

